@keyframes gradientEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  background: linear-gradient(
    45deg,
    rgba(27, 24, 31, 1) 21.2%,
    rgba(50, 4, 89, 1) 84.8%
  );
  background-size: 200% 200%;
  animation: gradientEffect 5s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}

.header__container {
  width: 100%;
  height: 400px;
  background: linear-gradient(45deg, #d7e1ec 21.2%, #ffffff 84.8%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  background-size: 200% 200%;
  animation: gradientEffect 3s linear infinite;
  padding-bottom: 80px;
}

@keyframes opacityEffect {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 100;
  }
}

.header__title {
  text-transform: uppercase;
  letter-spacing: 30px;
  animation: opacityEffect 0.2s ease-in-out forwards;
}

.description__container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  color: black;
  padding-bottom: 200px;
}

.header__description {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}
